html,body {
  font-size:15px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

h1,h2,h3,h4,h5,p {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.container {
  position:relative;
  top:4em;
  margin-left:5%;
  margin-right:5%;
}

.ui.segment {
  margin:2em;
}

.ui.button.monochrome {
  background-color:#BBBBCC;
}
