html,body {
  font-size:15px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

h1,h2,h3,h4,h5,p {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.main.menu {
  height:40px;
}
.ui.page.grid {
  position:relative;
  top:40px;
}
